::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

.tabs {
  & > .el-tabs__content {
    @apply font-600;
  }

  & .el-tabs__nav-scroll {
    @apply flex justify-center;
  }

  & .el-tabs__active-bar {
    @apply text-black font-700 bg-black;
  }

  & .el-tabs__item.is-active {
    @apply text-black font-700;
  }
}

.el-collapse-item {
  .el-collapse-item__header {
    @apply pl-15px h-30px text-[#505050];
    &.is-active {
      @apply text-[#212121];
    }
  }
}

.el-tabs__item:hover {
  color: black !important;
  @apply font-700;
}